.venv/
Scratch/
.vscode/
.DS_Store
__pycache__/
.ipynb_checkpoints
.coverage*
/.hypothesis
.env

# Generated bike theft data outputs
/src/bikespace_data/bike_thefts/*.geojson
/src/bikespace_data/bike_thefts/statuses/
/src/bikespace_data/bike_thefts/source_files/